<div class="row">
  <h2 class="heading col-md-6">{{quizName}}</h2>
  <h2 class="col-md-6"> TIMER: <span class="label label-danger label-lg"> {{timer}}</span></h3>
  </h2>
</div>

<div class="row">
  <div class="col-md-4" ng-repeat="school in schools">
    <br/>
    <div style="margin-top:40px;">
      <h4>{{school.teamName}} - <span class="label label-default">{{school.teamScore}}</span> - <span class="{{'label label-default active-' + school.active }}">{{"Connected: " + school.active}}</span> - <span ng-show='doOrDieMode' class="label label-default">{{school.timeReceived}}</span></h4>        
        <div class="{{school.answer}}">          
          <img class="{{'img text-center ' + school.answer}}" height="300px" width="400px" style="border: 2px solid rgb(67, 0, 0);" ng-src="{{school.currentAnswer.src}}"> 
        </div>
      <div class="btn judges-button">
        <a ng-disabled="school.currentAnswer.judged" class="btn btn-success btn-lg" ng-click='school.acceptAnswer()'>
          Accept
        </a>
      </div>
      <div class="btn judges-button">
        <a ng-disabled="school.undoHistory.disabled" class="btn btn-default btn-lg" ng-click="school.undoChecking()"> Undo </a>
      </div>
      <div class="btn judges-button">
        <a ng-disabled="school.currentAnswer.judged"  class="btn btn-danger btn-lg" ng-click='school.rejectAnswer()'>
          Reject
        </a>
      </div> 
    </div>
  </div>
</div>
