<div style="margin-top:40px;">
  <h3>{{quizName}}</h3>
</div>

<div class="row">
  <div class="col-md-2">
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary gary-button" ng-click="selectQuestion()">Select Question</button>
        </div>        
        <div class="col-md-12">
          <button class="btn btn-danger gary-button" ng-disabled="activeQuestion.used" ng-click="sendQuestion()">Send question</button>
        </div>
        <div>
        <div class="col-md-12">
          <button class="btn btn-large btn-info gary-button" ng-disabled="startTimeButtonDisable" ng-click="startTimer()">Start Timer</button>
        </div>       
      </div>      
    </div>
  </div>

  <div class="col-md-6">
    <p><strong>Question: {{activeQuestion.questionText}}</strong></p>
    Answer: {{activeQuestion.answerText}}
  </div>
  <div class="col-md-2">
    Time: {{activeQuestion.time}} 
    <br> 
    Points: {{activeQuestion.points}}
    <b4>
    <h3>TIME: <span class="label label-danger label-large">{{timer}}</span></h3>
  </div>
  
</div>

<div class="row">
  <div class="col-md-4 column">  
    <h3> Scores to Send </h3>
    <form name="scoreTickList">
      <h5 ng-repeat='team in teams'>      
         {{team.teamName}} - <input style="margin-top:10px; width:40px;" ng-model='team.score'> 
      </h5>
    </form>
    <!--
    <button class="btn btn-large btn-info gary-button" ng-disabled="disableUpdate" ng-click="updateScoreboard()">Update Scores</button>
    <h3 ng-hide="isUpdated"> Scores Sent! </h3>
    -->
  </div>
  <div class="col-md-4" ng-repeat="school in schools">
    <h4>{{school.teamName}} - <span class="label label-default">{{school.teamScore}}</span> - <span class="{{'label label-default active-' + school.active }}">{{"Connected: " + school.active}}</span> - <span ng-show='doOrDieMode' class="label label-default">{{school.timeReceived}}</span></h4>        
    <div class="{{school.answer}}">          
      <img class="{{'img text-center ' + school.answer}}" height="300px" width="400px" style="border: 2px solid rgb(67, 0, 0);" ng-src="{{school.currentAnswer.src}}"> 
    </div>
    
  </div>
</div>

<br>

<div id="questionsModal" class="modal bs-modal-lg" role="dialog" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title">Select Question</h5>
      </div>
      <div class="modal-body">
        <div ng-repeat="category in  quiz" class="form-horizontal" name="newRewardForm" novalidate>
          <h3 class="text-center">{{category.categoryName}}</h3>
          <ul class="media-list">
            <li class="media" ng-repeat="question in category.questions">
              <div ng-hide="question.used" class="panel">
                <a class="btn btn-primary pull-left" ng-click="question.select()"  style="margin-right:15px;">
                  Select
                </a>
                <div class="media-body">
                  {{question.questionText}}
                </div>
              </div>
            </li>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
      </div>
    </div>
  </div>
</div>
