<div class="row clearfix">
  <div class="col-md-12 column">
    <div>
      <div class="row clearfix">
        <div class="col-md-2 column">        
          <h3> {{quizName}} </h3>
        </div>
        <div class="col-md-1 column">        
          <h3> <button class="btn btn-info btn-sm" ng-click="selectCategory()">Summary</button> </h3>
        </div>
        <div class='btn-group' ng-repeat="category in categories">
            <h3>
              <button class='btn btn-info btn-sm' ng-click="selectCategory(category.categoryName)"> {{category.categoryName}}</button>
            </h3>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-md-11 col-md-offset-1 column">
          <table class="table table-hover table-condensed table-bordered" style="width:900px">
            <thead>
              <tr>
                <th style="width:130px;"> Team Number </th>
                <th style="width:130px;"> Region </th>
                <th ng-show="showSummary"> Summary </th>
                <th ng-show="showTable"> {{table_category}} </th>
                <th> Total Score </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="team in teams">
                <td> {{team.teamName}} </td>
                <td> {{team.teamRegion}} </td>
                <td style="width:500px;" ng-show='showSummary'>
                  <table style="margin-bottom:0px;" class="table table-condensed table-bordered fixed-width">
                    <tr>
                      <td ng-repeat="category in team.categoryResult">
                        {{category.categoryName}}
                      </td>
                    </tr>
                    <tr>
                      <td ng-repeat="category in team.categoryResult">
                        <strong> {{category.categoryScore}} </strong>
                      </td>
                    </tr>
                  </table>
                <td style="width:500px;" ng-show="showTable">
                  <table style="margin-bottom:0px;" class='table table-condensed table-bordered fixed-width'>
                      <td style="height:20px;" ng-repeat='score in team.matchedCategory.questionResults track by $index'> 
                        <div ng-show="score.questionChecked">
                          {{score.score}}
                        </div>
                      </td>
                      <td>
                        <strong> {{team.matchedCategory.categoryScore}} </strong>
                      </td>
                    </tr>
                  </table>
                </td>
                <td>
                  <strong> {{team.teamScore}} </strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
