doctype html
html(lang="en", ng-app="mtap-quizmaster")  
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title MMC 2014 Math Competition Quiz System
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/dashboard.css')
    link(rel='stylesheet', href='/css/main.css')

    script(type='text/javascript', src="/socket.io/socket.io.js")
    script(type='text/javascript', src="/js/vendor/jquery-1.10.1.min.js")
    script(type='text/javascript', src="/js/vendor/angular.min.js")
    script(type='text/javascript', src="/js/vendor/angular-route.min.js")
    script(type='text/javascript', src="/js/vendor/bootstrap.min.js")
    script(type='text/javascript', src="/js/vendor/underscore.js")
    script(type='text/javascript', src="/js/vendor/paper.js")
    script(type='text/javascript', src="/js/app.js")

  body    
    block content