

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.black-bordered{
  border: 3px solid rgb(0, 0, 0); 
  margin-top: 10px;
}

.red-bordered{
  border: 3px solid rgb(255,0,0); 
  margin-top: 10px;
}

.custom-label{
  font-size: 300px;
  text-align:center;  
  margin-left:25%;
  margin-right:25%;
}

.active-false{
  background-color: #d9534f;
}

.active-true{
  background-color:#5cb85c;
}

.judges-button{
  margin-right:35px;
}

.wrong:before{
  position:absolute;
  content:'';
  background: rgba(255,0,0,0.5);
  width:400px;
  height:300px;
}

.correct:before{
  position:absolute;
  content:'';
  background: rgba(0,255,0,0.5);
  width:400px;
  height:300px;
}

.gary-button{
  margin-bottom:15px;
  width:200px;
  height:50px;
}

.result-true{
  background: rgba(0,255,0,0.5);
}

.result-false{
  background: rgba(255,0,0,0.5);
}

.fixed-width{
  table-layout: fixed;
  width:500px;
  /*
  width: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  */
}

.td-0{
  background-color: rgb(200,200,200);
}