<!--<canvas id="myCanvas" height="600" width="800" style="border: 2px solid rgb(0, 0, 0); margin-top: 50px; margin-left: 50px; width: 800px; height: 600px;"></canvas>-->

<div class="container" style="margin-left:10px;">
  <div class="row clearfix">
    <div class="col-md-2 column">
      <a href="#">
        <img src="/img/mmclogo.png" style="margin-top:15px;"> </img>
      </a>
    </div>
    <div class="col-md-2 column">
      <h2> {{team_name}} </h2>
    </div>
    <div class="col-md-4 column">
      <h2> {{categoryheader}} </h2>
    </div>
    <div class="col-md-2 column">
      <h2> Score: 
        <label class="label label-info"> {{team_score}} </label>
      </h2>
    </div>
    <div class="col-md-2 column">
      <h2> Timer: 
        <label class="label label-danger"> {{countdown_timer}} </label> 
      </h2>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <canvas id="myCanvas" height="450" width="1200" class="{{canvas_class}}"></canvas>    
    </div>
  </div>
  <div class="row clearfix"> 
    <div class="col-md-12 column">
      <button type="button" class="btn btn-info" ng-click="clearCanvas()">Clear</button>          
    </div>
  </div>
  <div class="row-clearfix">
    <div class="col-md-12 column">
      <h3 class="{{question_class}}"> {{quizmaster_question}}</h3>
    </div>
  </div>
</div>


